* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: #e0e0e0;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
  width: 95vw;
  max-width: 95vw;
}

.time {
  white-space: nowrap;
  font-size: clamp(2rem, 15vw, 20rem);
}

.date {
  white-space: nowrap;
  font-size: clamp(1rem, 5vw, 7rem);
}

.status {
  font-size: 2rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.status-stale {
  color: #ff6347;
}

.status-synced {
  color: #4caf50;
}
